:root{
    --color-dark: #0aa8a8;
    --color-light: #FFFFFF;
    --color-accent: #66FFFF;
    --color-gray: #F3F3F3;

    --font-family-base: 'Space Grotesk', sans-serif;

    --container-width: 1240px;
    --container-padding-x: 20px;

    --section-padding-y: 70px;

    --transition-duration: 0,2s;

}